<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <shipping_limited_products>
                <enabled>1</enabled>
                <max_weight>10</max_weight>
                <error_message>Error Message</error_message>
            </shipping_limited_products>
        </sales>
    </default>
</config>
