<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="sp_validate_cart" instance="Salvopruiti\ShippingLimitedProducts\Observer\ValidateCartObserver" />
    </event>
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer disabled="true" name="sp_validate_cart" instance="Salvopruiti\ShippingLimitedProducts\Observer\ValidateCartObserver" />
    </event>
</config>

